/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
    line-height: 1.6;
}

/* Header styles */
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

header nav ul {
    list-style: none;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}

header nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s ease;
}

header nav ul li a:hover {
    color: #ff8800;
}

/* Section styles */
section {
    padding: 2rem;
    text-align: center;
}

section h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

section h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

/* Feature list styles */
section ul {
    list-style-type: none;
}

section ul li::before {
    content: '\2022';
    color: #ff8800;
    font-size: 1.2rem;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

/* Aggiorna queste regole CSS nel tuo file styles.css */

.screenshot-container {
    overflow: hidden;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.screenshots-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%; /* Imposta la larghezza al 100% */
}

.screenshot {
    max-width: 30%; /* Regola la dimensione massima per gli screenshot */
    height: auto;
}

/* Contact section styles */
section#contact a {
    color: #ff8800;
}

/* Footer styles */
footer {
    text-align: center;
    padding: 1rem 0;
    background-color: #333;
    color: #fff;
}
